<%# navigation.ejs %>
<nav>
    <ul>
        <li><a href="/" title="Home Page">Home</a></li>
        <li><a href="/inventory/custom" title="Custom Vehicles">Custom</a></li>
        <li><a href="/inventory/sedan" title="Sedan Inventory">Sedan</a></li>
        <li><a href="/inventory/suv" title="SUV Inventory">SUV</a></li>
        <li><a href="/inventory/truck" title="Truck Inventory">Truck</a></li>
    </ul>
</nav>