<div id="inventory-view">
    <h1>Custom vehicles</h1>
    <div class="inventory-grid">
        <div class="inventory-item">
            <a href="#" title="View Batmobile Custom details">
                <img src="/images/vehicles/batmobile.jpg" alt="Batmobile Custom">
                <h2>Batmobile Custom</h2>
                <p>$65,000</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View FBI Surveillance Van details">
                <img src="/images/vehicles/survan.jpg" alt="FBI Surveillance Van">
                <h2>FBI Surveillance Van</h2>
                <p>$20,000</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Dog Car details">
                <img src="/images/vehicles/dog-car.jpg" alt="Dog Car">
                <h2>Dog Car</h2>
                <p>$35,000</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Aerocar International Aerocar details">
                <img src="/images/vehicles/aerocar.jpg" alt="Aerocar International Aerocar">
                <h2>Aerocar International Aerocar</h2>
                <p>$700,000</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Monster Truck details">
                <img src="/images/vehicles/monster-truck.jpg" alt="Monster Truck">
                <h2>Monster Truck</h2>
                <p>$150,000</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Mystery Machine details">
                <img src="/images/vehicles/mystery-van.jpg" alt="Mystery Machine">
                <h2>Mystery Machine</h2>
                <p>$10,000</p>
            </a>
        </div>
    </div>
</div>