<div id="inventory-view">
    <h1>Sedan vehicles</h1>
    <div class="inventory-grid">
        <div class="inventory-item">
            <a href="#" title="View Mechanic Special details">
                <img src="/images/vehicles/mechanic.jpg" alt="Mechanic Special">
                <h2>Mechanic Special</h2>
                <p>$100</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Ford Model T details">
                <img src="/images/vehicles/model-t.jpg" alt="Ford Model T">
                <h2>Ford Model T</h2>
                <p>$30,000</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Ford Crown Victoria details">
                <img src="/images/vehicles/crwn-vic.jpg" alt="Ford Crown Victoria">
                <h2>Ford Crown Victoria</h2>
                <p>$10,000</p>
            </a>
        </div>
    </div>
</div>