<div id="inventory-view">
    <h1>Truck vehicles</h1>
    <div class="inventory-grid">
        <div class="inventory-item">
            <a href="#" title="View Cadillac Escalade details">
                <img src="/images/vehicles/escalade.jpg" alt="Cadillac Escalade">
                <h2>Cadillac Escalade</h2>
                <p>$75,195</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View GM Hummer details">
                <img src="/images/vehicles/hummer.jpg" alt="GM Hummer">
                <h2>GM Hummer</h2>
                <p>$58,800</p>
            </a>
        </div>
        <div class="inventory-item">
            <a href="#" title="View Spartan Fire Truck details">
                <img src="/images/vehicles/fire-truck.jpg" alt="Spartan Fire Truck">
                <h2>Spartan Fire Truck</h2>
                <p>$50,000</p>
            </a>
        </div>
    </div>
</div>