<%#Assignment 3, Basic Error Handling activity %>

<div class="error-page-background">
    <div class="error-view">
        <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
            res.redirect('/')
        } %>
        <%- message %>
    </div>
</div>